.grid-container{
 padding: 10px auto;
}
.grid-x{
 border: black;
}
.cell{
  border: black;
  color: rgb(26, 113, 114);

}
body {
  background-color: rgb(157, 167, 183);
  border: 30px ridge rgb(157, 167, 183);
}
h1{
  border: 10px ridge rgb(157, 167, 183);
  background-color:rgb(215, 219, 226);
  color: black;
  text-align: center;
  font-size: 3em;
  line-height: 1.0em;
  font-family: 'Abril Fatface', cursive;
  margin-top: 4%;
}
h2{
  color: white;
  font-family: 'Abril Fatface', cursive;
}
h3{
  color: white;
}

img{
  margin:80px auto;
  border: 25px ridge rgb(157, 167, 183);
}
nav {
  width: 100%;
  margin: 10px auto;
  background-color:  rgb(138, 146, 160);
  padding: 15px;
}
nav ul {
  list-style-type: none;
  margin: 25px 10px;
  text-align: center;
  padding: 40px inherit;
}
nav li {
  display: inline;
  font-family:'Anton', sans-serif;
  font-size: 18px;
  margin: 30px auto;
  padding: 20px inherit;
}
nav li a:link, nav li a:visited {
  text-decoration: none;
  background-color: black;
  color: rgb(230, 231, 239);
  padding: 10px 10px;
  margin: 10px auto;
  border-radius: 3px;
}
nav li a:hover {
  background-color: black;

}
nav>ul>li>a:active {
  color: gray;
}
footer,ul,img{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  line-height: 2.0em;

}
