.grid-container{
 padding: 10px auto;
}
.grid-x{
 border: black;
}
.cell{
  border: black;
  color: rgb(26, 113, 114);

}
body {
  background-color: rgb(26, 153, 155);
  border: 15px ridge rgb(26, 113, 114);
}
h1{
  color: black;
  text-align: center;
  font-family: 'Monoton', cursive;
}
h2{
  color: white;
  font-family: 'Monoton', cursive;
}
h3{
  color: white;
}
img{
  margin:80px auto;
  border: 15px ridge rgb(26, 113, 114);
}
nav {
  width: 100%;
  margin: 10px auto;
  background-color: rgb(26, 113, 114);
  padding: 15px;
}
nav ul {
  list-style-type: none;
  margin: 25px 10px;
  text-align: center;
  padding: 40px inherit;
}
nav li {
  display: inline;
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  margin: 30px auto;
  padding: 20px inherit;
}
nav li a:link, nav li a:visited {
  text-decoration: none;
  background-color: black;
  color: rgb(230, 231, 239);
  padding: 10px 10px;
  margin: 10px auto;
  border-radius: 3px;
}
nav li a:hover {
  background-color: black;

}
